/* CSS / **SS mmui */
/*

1. 盒子模型
  
2. static relative absolute fixed

3. 几种布局
  shttp://www.ruanyifeng.com/blog/2015/07/flex-grammar.html
  水平居中
    span
      text-align: center;
    div
      margin: 0 auto;
      justify-content: center | start() | end | stretch | space-around | space-between | space-evenly;
  垂直居中
    span
      line-height
    div
      vertical-align: middle;
    宽高未知
      position: abusolute;
      translate: transform(0, -50%);
    flex
      align-content: start() | end | center | stretch | space-around | space-between | space-evenly;

  1. 两栏布局 
  2. 三栏布局
      <div class="left">左栏</div>
      <div class="middle">中间栏</div>
      <div class="right">右栏</div>
      // 当父元素有内外边距时，会导致中间栏的位置出现偏差
     .left{
        background: yellow;
        width: 200px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
      }
     .middle{
        height: 300px;
        margin: 0 220px;
        background: red;
     }
     .right{
        height: 300px;
        width: 200px;
        position: absolute;
        top: 0;
        right: 0;
        background: green;
      }
     //
     <div class="wrapper">
       <div class="left">左栏</div>
       <div class="middle">中间</div>
       <div class="right">右栏</div>
     </div>
     .wrapper{
        display: flex;
      }
      .left{
        width: 200px;
        height: 300px;
        background: green;
      }
      .middle{
        width: 100%;
        background: red;
        marign: 0 20px;
      }
      .right{
        width: 200px;
        height: 3000px;
        background: yellow;
      }
  3. 
  calc 用法

4. 自适应方案
  1. html 头
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  2. 宽度单位 
    width: xx%; 
    width: auto;
  3. 相对大小的字体 rem
    body {
      font: normal 100% Helvetica, Arial, sans-serif;
    }
    页面默认大小的100%，即16像素。
  4. 流动布局
  5. 选择加载 css
    <link rel="stylesheet" type="text/css"
      media="screen and (min-width: 400px) and (max-device-width: 600px)"
      href="tinyScreen.css" />
    @import url("tinyScreen.css") screen and (max-device-width: 400px);
  6. css @media
      @media screen and (max-device-width: 400px) {}
  7. 图片自适应
    img, object{ max-width: 100%;}

5. 不换行 三点替换
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
*/